h1 small {
  font-size: 50%;
}

.select-tags {
  margin-bottom: 20px;
  padding: 0;
}

.select-tags li {
  list-style: none;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 200;
}

.select-tags label {
  display: block;
  padding: 3px 0;
}

.tags {
  width: 100%;
  height: 100px;
}

.edit-table__tags {
  width: 100%;
}

.edit-table__tags textarea {
  width: 100%;
}
